[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
black = "*"
pandas = "*"
requests = "*"
python-dotenv = "*"
datasets = "*"
isort = "*"
ruff = "*"
pytest = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.12"
